<div class="container">
<%= form_tag seas_path do %>
  <p>Name: <%= text_field_tag :'sea[name]', "", class: "form-control" %></p>
  <p>Bio: <%= text_field_tag :'sea[bio]', "", class: "form-control" %></p>
  <p>Image URL: <%= text_field_tag :'sea[image_url]', "", class: "form-control" %></p>
  <p>Temperature: <%= text_field_tag :'sea[temperature]', "", class: "form-control" %></p>
  <p>Favorite Color: <%= text_field_tag :'sea[favorite_color]', "", class: "form-control" %></p>
  <p>Scariest Creature: <%= text_field_tag :'sea[scariest_creature]', "", class: "form-control" %></p>
  <p>Mood: <%= text_field_tag :'sea[mood]', "", class: "form-control" %></p>
  <p><%= check_box_tag :'sea[has_mermaids]' %>  Has Mermaids</p>
  <%= submit_tag "Submit", class: "form-control btn btn-info" %>
<% end %>
<div class="text-center">
<%= button_to "All Seas", seas_path, method: "get", class: "btn btn-info", style: "margin: 1em" %>
  </div>
</div> 